<html>
    <head>
        <meta charset="utf-8">
        <title>Captain Cook's Voyage</title>
        <style>
            {% include 'templates/screen.css' %}
        </style>
    </head>

    <body>
        <img src="/static/img/divider.png" class="divider">
        <img src="/static/img/header.png" class="cook">

        <div class="entry">
            <div class="map-container">
                {% if location %}
                <img src="http://api.tiles.mapbox.com/v3/henpe.map-puboj6e5/pin-m-ferry({{ location[1] }},{{ location[0] }})/-20,0,1/384x200.png" width="384" height="200" class="map" />
                {% else %}
                <img src="http://api.tiles.mapbox.com/v3/henpe.map-puboj6e5/pin-m-ferry/-20,0,1/384x200.png" width="384" height="200" class="map" />
                <!-- no location data available -->
                {% endif %}
            </div>
            <header>
            	<h2 class="date">{{ date }}</h2>
                <p class="chapter">{{ chapter }}</p>
            	<span class="weather">{{ weather }}</span>
                <span class="wind">{{ wind }}</span>
            </header>
            <p class="diary">{{ diary }}</p>
        </div>

        <img src="/static/img/divider.png" class="divider">
    </body>
</html>