<html>
    <head>
        <meta charset="utf-8">
        <title>Captain Cook's Voyage</title>
        <style>
            {% include 'templates/screen.css' %}
        </style>
    </head>

    <body>
        <img src="http://cooksvoyage.com/static/img/divider.png" class="divider">
        <img src="http://cooksvoyage.com/static/img/header.png" class="cook">

        {% if delivery_count == 0 %}
            <div class="welcome">
                <h3>Thanks for subscribing!</h2>
                <p>Each day you will take delivery of the day's entry in Captain Cook's journal.</p>
                <p>The text is taken from Project Gutenberg unmodified.</p>
            </div>
        {% endif %}

        <div class="entry">
            <div class="map-container">
                {% if location %}
                <img src="http://api.tiles.mapbox.com/v3/henpe.map-puboj6e5/url-cooksvoyage.com%2Fstatic%2Fimg%2Fship_small.png({{ location[1] }},{{ location[0] }})/-30,-10,1/384x160.png" width="384" height="160" class="map" />
                {% else %}
                <img src="http://api.tiles.mapbox.com/v3/henpe.map-puboj6e5/url-cooksvoyage.com%2Fstatic%2Fimg%2Fship_small.png/-30,-10,1/384x160.png" width="384" height="160" class="map" />
                <!-- no location data available -->
                {% endif %}
            </div>
            <header>
            	<h2 class="date">{{ date }}</h2>
                <p class="chapter">{{ chapter }}</p>
            	<span class="weather {{ weather }}"></span>
                <span class="wind {{ wind }}"></span>
            </header>
            <p class="diary">{{ diary }}</p>
            <p class="url">&raquo; http://cooksvoyage.com/{{ date }}</p>
        </div>

        <img src="http://cooksvoyage.com/static/img/divider.png" class="divider">
    </body>
</html>
