* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Crimson';
    width: 384px;
}
a {
    text-decoration: none;
    color:#000;
}
.cook {
    margin-top: -8px;
}

header {
    position: relative;
}
h1 {
    line-height: 1;
    padding: 4px 0;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-weight: bold;
    float: left;
}
.welcome {
    padding:10px;
    border: 1px dotted #000;
    margin:5px 0;
    font-size: 18px;
}
.date {
    font-family: georgia;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: normal;
    margin-bottom: 6px;
}
.weather {
    background: transparent url(http://cooksvoyage.com/static/img/weather.png) -800px -200px no-repeat;
    position: absolute;
    display: block;
    top:0;
    right:40px;
    height:55px;
    width:55px;
}
.weather.sunny {
    background-position: -100px -200px;
}
.weather.hazy {
    background-position: -300px -200px;
}
.weather.cloudy {
    background-position: -800px -200px;
}
.weather.drizzle {
    background-position: -1100px -200px;
}
.weather.heavy-rain {
    background-position: -1500px -200px;
}
.wind {
    background: transparent url(http://cooksvoyage.com/static/img/wind.png) 0 0 no-repeat;
    position: absolute;
    display: block;
    top:0;
    right:0;
    height:40px;
    width:40px;
}
.wind.n {
    background-position: 0 0;
}
.wind.ne {
    background-position: -108px 0;
}
.wind.e {
    background-position: -208px 0;
}
.wind.se {
    background-position: -308px 0;
}
.wind.s {
    background-position: -408px 0;
}
.wind.sw {
    background-position: -495px 0;
}
.wind.w {
    background-position: -595px 0;
}
.wind.nw {
    background-position: -695px 0;
}
.entry {
    margin-bottom: 10px;

}
.map-container {
    /*background: transparent url('http://nysx.t.proxylocal.com/little-diary/img/frame-sides.png') repeat-y 0 0;*/
    position: relative;
    margin-top: 5px;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.map {
    /*margin-left: 20px;
    top: 18px;
    left: 20px;*/
    width: 384px;
    border: 0;
    text-align: center;
}
p {
    font-family: 'Times';
    font-size: 21px;
}
.chapter {
    font-style: italic;
    width: 260px;
}
.body {
    margin: 0 25px;
}
.diary {
    margin-top: 15px;
}
.truncate_more_link {
    font-size: 20px;
    font-style: italic;    
}
.url {
    margin-top:10px;
    font-size: 20px;
}
.divider {
    margin: 8px 0;
}